// Within style tags in your html file
$margin: 16px;


:host {
  margin: 0 16px;
  padding: 1rem;
  width: 90;
  overflow: hidden;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: $margin;
  }
  
  .grid::after {
    content: '';
    flex-grow: 999999999;
  }
  
  .grid > figure {
    margin: $margin;
    background-color: violet;
    position: relative;
  }
  
  .grid > figure > i {
    display: block;
  }
  
  .grid > figure > img {
    position: absolute;
    top: 0;
    width: 100%;
    vertical-align: bottom;
  }